@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.content {
  display: flex;
  flex-direction: column;
  gap: $gap_block;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;

  .title {
    margin: minMaxSize(20px, 2.5vh, 16px) 0;

    font-weight: 500;
    font-size: minMaxSize(40px, 3.6vh, 28px);
  }
}
