@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.content {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(pxToRem(280px), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(minMaxSize(140px, 20vh, 100px), 1fr));
    justify-items: start;
    justify-content: start;
    align-items: start;
    align-content: start;
    gap: $gap_block;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .title {
    // display: none;
    grid-column: span 4;

    margin: minMaxSize(20px, 2.5vh, 16px) 0;

    font-weight: 500;
    font-size: minMaxSize(40px, 3.6vh, 28px);
  }
}
@for $i from 1 through 100 {
  .content *:nth-child(#{$i}n) {
    animation-delay: #{($i - 1) * $panel_fade_delay}ms;
  }
}
