@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.table {
  display: block;
  overflow: hidden;

  width: min(100%, pxToRem(500px));
  padding: pxToRem(20px);
  border: $border;
  border-radius: $border_radius;

  thead {
    display: block;
    padding: pxToRem(16px) 0;
    background-color: rgba($panel_dark_color, 1);
    border-radius: $border_radius;
    margin-bottom: pxToRem(10px);

    tr {
      display: flex;
      justify-content: space-between;
      padding: 0 min(pxToRem(40px), 4vw);
    }

    th {
      position: relative;
      width: 100%;
      padding: 0 pxToRem(10px);
      text-transform: uppercase;
      font-weight: 500;

      &:first-child {
        padding-right: pxToRem(10px);
        text-align: left;
      }
      &:last-child {
        padding-left: pxToRem(10px);
        text-align: right;
      }
    }

    th + th::after {
      content: '';
      position: absolute;
      width: pxToRem(2px);
      height: calc(100% + pxToRem(10px));
      top: pxToRem(-5px);
      left: 0;
      background-color: $primary_color;
    }
  }

  tbody {
    overflow: auto;
    max-height: pxToRem(200px);
    display: flex;
    flex-direction: column;
    gap: pxToRem(5px);

    tr {
      display: flex;
      justify-content: space-between;
      padding: pxToRem(16px) min(pxToRem(40px), 4vw);
      background-color: rgba($panel_dark_color, 0.5);
      border-radius: $border_radius;
    }

    td {
      position: relative;
      width: 100%;
      padding: 0 pxToRem(10px);
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;

      &:first-child {
        padding-right: pxToRem(10px);
        text-align: left;
      }
      &:last-child {
        padding-left: pxToRem(10px);
        text-align: right;
      }
    }

    td + td::after {
      content: '';
      position: absolute;
      width: pxToRem(2px);
      height: calc(100% + pxToRem(10px));
      top: pxToRem(-5px);
      left: 0;
      background-color: $primary_color;
    }
  }
}
